<div class="bar-grid">
  <div class="current-show">
    <img
      src="/src/assets/newsnapman.svg"
      alt="snapman"
      height="100rem"
      width="100rem"
    />
    <audio class="webstream" controls>
      <source src="https://boombox.kmnr.org/webstream.mp3" />
      Your browser does not support the audio element.
    </audio>
    <div class="show-info">
      <strong class="listen">Listen in</strong>
      <p>SHOW DJ</p>
    </div>
  </div>
  <p class="contact-info">Requests? Comments? Call or text 504-656-6735</p>
</div>
