<div class="footer">
  <div class="footer-content">
    <div class="show-info-footer">
      <strong class="listen">Listen in</strong>
      <p>SHOW DJ</p>
    </div>
    <div class="contact-info-footer">
      <p>Requests? Comments? Call or text 504-656-6735</p>
    </div>
    <div class="social-links">
      <!-- Icons not appearing. Try downloading to assets folder from https://www.iconfinder.com -->
      <a href="https://www.instagram.com/kmnr89.7/?hl=en" target="_blank">
        <span class="iconify" data-icon="mdi-instagram" data-inline="false"></span>
      </a>
      <a href="https://www.facebook.com/KMNR89.7" target="_blank">
        <span
          class="iconify"
          data-icon="ant-design:facebook-filled"
          data-inline="false"
        ></span>
      </a>
      <a href="https://twitter.com/kmnr" target="_blank">
        <span
          class="iconify"
          data-icon="akar-icons:twitter-fill"
          data-inline="false"
        ></span>
      </a>
    </div>
  </div>
</div>
