<div class="modular-card">
  <h1 class="card-title">About KMNR</h1>
  <div class="card-content">
  <p>
    KMNR is a free-format college radio station broadcasting at 89.7 MHz in
    Rolla, MO. KMNR's license is held by the University of Missouri's board of
    curators. KMNR is run by its executive board who are responsible for
    maintaining the station and ensuring compliance with FCC rules. KMNR
    Executive board are elected at the end of the Spring Semester and serve for
    a year. KMNR's faculty advisor is {{ advisor }}. KMNR's Public File is
    accessible at the station.
  </p>
  <h2>Contact</h2>
  <p>
    KMNR is connected to social media, and down with the youths. For any
    inquiries, including website related inquires, please feel free to contact
    the station.
  </p>
  <contact-info />
  <h2>E-Board</h2>
  <p>
    KMNR's E-Board are the heart and soul behind the station. They are tasked
    with enforcing KMNR's constitution and complying with FCC regulations. The
    E-board is selected annually from the active DJs by a general election and
    serve a one year term. Any specific inquires about the station or their
    position can be directed appropriately.
  </p>
  <eboard-info />
  <h2>Hiring</h2>
  <p>
    KMNR is always looks for new DJs to volunteer at the station at the
    beginning of every semester. If you meet the following criteria, then you're
    eligible to become a DJ:
  </p>
  <ul>
    <li>Must be a Missouri S&amp;T student.</li>
    <li>Must not currently be on academic probation.</li>
    <li>Should have at least two semesters left on campus.</li>
  </ul>
  <p>
    We also prefer that you've completed at least one semester here at Missouri
    S&amp;T to be sure that you're accustomed to college life, but freshmen and
    transfer students are always considered and accepted! All applicants are
    interviewed and a group of trainees are selected out of those people. These
    trainees then are trained on the various aspects of KMNR. Once a trainee
    completes all the requirements, they then become a fully-licensed DJ.
  </p>
  <p>
    If you're interested, applications can be picked up at the station in the
    first floor of Altman Hall during the first few weeks of every semester. Be
    sure to not miss out!
  </p>
  <p>
    In addition to bringing in new DJs, KMNR also hires librarians to take care
    of our extensive music library. If you are eligible for work study and wish
    to become a librarian, email us at
    <a href="mailto:stationmanager@kmnr.org">stationmanager@kmnr.org</a>.
  </p>
  <p>
    If you have any questions about becoming a DJ, email us at
    <a href="mailto:personnel@kmnr.org">personnel@kmnr.org</a> or give us a call
    at (573) 341-4272.
  </p>
  <h2>Roadshow</h2>
  <p>
    Need some life added to your party? Need some sweet tunes for your next
    event? Then look no further than the KMNR Roadshow!
  </p>
  <p>
    KMNR Roadshow gives you the chance to have a part of the KMNR library at
    your next event. A part of KMNR, the KMNR Roadshow is run by Missouri
    S&amp;T students. We can provide the music, equipment, and labor to keep
    your event rockin'. We have one of the largest non-commercial musical
    libraries in the country to give you the strange, rare, or even run of the
    mill musical playlist that you desire.
  </p>
  <p>
    If you're interested, you can contact the roadshow director by sending an
    email to <a href="mailto:roadshow@kmnr.org">roadshow@kmnr.org</a>.
  </p>
  <h2>Terms and Conditions for Use</h2>
  <p>
    KMNR is dedicated to maintaining a worthwhile experience for all users. By
    using the website you agree to the following terms.
  </p>
  <ol>
    <li>
      The user will not post either directly or indirectly, links to indecent,
      illicit, or obscene content. This also includes content which promotes
      alcohol or tobacco use.
    </li>
    <li>
      The user will not share or provide access to illegal materials of any
      form.
    </li>
    <li>
      The user will respect the user experience of other patrons of the KMNR
      website.
    </li>
    <li>
      The user will not promote any sort of event, activity or product outside
      of Town and Campus news.
    </li>
  </ol>
  </div>
</div>
