<div class="week-grid">
  <table>
    <tbody>
      <tr>
        <th></th>
        <th *ngFor="let day of days">{{ day }}</th>
      </tr>
      <tr *ngFor="let time of times">
        <th>{{ parseTime(time) }}</th>
        <td *ngFor="let day of days; let dayIdx = index" 
            [ngClass]="{'show-cell': getShow(time, dayIdx), 'empty-cell': !getShow(time, dayIdx)}">
          <div *ngIf="getShow(time, dayIdx) as show" class="show-info">
            <div class="show-name">{{ show.show_name }}</div>
            <div class="dj-name">{{ show.dj_name }}</div>
            <div class="show-genre">{{ show.genre }}</div>
          </div>
          <div *ngIf="!getShow(time, dayIdx)" class="empty-slot">
            <!-- Empty time slot -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
