<div>
  <h1 class="card-title">Show Schedule</h1>
  <div class="card-content">
    <div class="schedule-container">
      <div class="week-grid">
        <div class="schedule-table">
          <div class="time-header">Time</div>
          <div class="weekday">Sunday</div>
          <div class="weekday">Monday</div>
          <div class="weekday">Tuesday</div>
          <div class="weekday">Wednesday</div>
          <div class="weekday">Thursday</div>
          <div class="weekday">Friday</div>
          <div class="weekday">Saturday</div>
          <ng-container *ngFor="let time of times" class="schedule-row">
            <div class="time-slot">{{ parseTime(time) }}</div>

            <ng-container *ngFor="let day of days">
              <div class="show-slot" [style.grid-row]="'span ' + getShowDuration(time, day)" *ngIf="getShowForStartingTime(time, day) || !getShowForTimeSlot(time, day)">
                <div
                  class="show-info"
                  *ngIf="getShowForStartingTime(time, day); else automation"
                >
                  <span class="show-name">
                    {{ getShowForTimeSlot(time, day)?.name || 'No Show' }}
                  </span>
                  <span
                    class="show-dj"
                    *ngFor="
                      let host of getShowForTimeSlot(time, day)?.hosts ?? []
                    "
                  >
                    {{ host.djName }}
                  </span>
                </div>

                <ng-template #automation>
                  <div class="empty-slot">
                    <span>Automation</span>
                  </div>
                </ng-template>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="schedule-legend" *ngIf="shows.length === 0">
        <p>Loading show schedule...</p>
      </div>
    </div>
  </div>
</div>
