@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

/* Main app layout using flexbox */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  padding: 0 20rem 0 20rem;
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-align: center;
}

#nav {
  padding: 0.5rem 0 0.5rem 0;
  background-color: #6d597a;
  text-align: center;

  a {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
  }
}
