@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.main-content {
  padding: 0 20rem 0 20rem;
  min-height: 100vh;
}

.footer {
  overflow: hidden;
  position: static;
  width: 100%;
  margin-top: 20rem;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-align: center;
  min-height: 100vh;
  background: inherit;
}

#nav {
  padding: 0.5rem 0 0.5rem 0;
  background-color: #6d597a;
  text-align: center;

  a {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
  }
}
