<div id="app">
  <top-bar />

  <div id="nav">
    <a routerLink="/">KMNR</a> |
    <a routerLink="/shows">Shows</a> |
    <a routerLink="/djs">DJs</a> |
    <a routerLink="/news">Town &amp; Campus News</a> |
    <a routerLink="/about">About</a> |
    <a routerLink="/blog">Blog</a> |
    <a routerLink="/apple-music">🍎 Apple Music</a> |
    <a routerLink="/spotify">🎵 Spotify</a> |
    <a routerLink="/player">🎵 Player</a> |
    <a routerLink="/login">Login</a> |
    <a routerLink="/admin"><i>Admin</i></a>
  </div>

  <div class="main-content">
    <router-outlet />
  </div>

  <div class="footer">
    <app-footer />
  </div>
</div>
