:host {
  display: flex;
  justify-content: center;
}

.show-image {
  grid-area: show-image;
}

.show-info {
  grid-area: info;
}

.dj-images {
  grid-area: dj-images;
}

.on-air {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'show-image info dj-images';
  justify-items: center;

  font-family: 'Bree Serif', serif;
}
