.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif', serif;
  min-height: 500px;
  max-width: 1200px;
  width: 100%;
}

.home-content-grid {
  position: relative;
  z-index: 2;
  // background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  // backdrop-filter: blur(2px);
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
  justify-items: center;
  align-items: flex-start;
}
