<div class="home">
  <banner />

  <div class="home-content modular-card">
    
    <div class="home-content-grid">
      <div class="card-content center">
        <h2 class="card-title-alt">ARTISTS</h2>
        <p>Upcoming</p>
        <p>Last week</p>
      </div>

      <div class="card-content center">
        <h2 class="card-title-alt">ALBUM REVIEWS</h2>
        <p>
          This space is being used to show an example of contacting the backend
          from the frontend. This message is from the backend:
        </p>
        <p>
          <u>{{ backendMsg }}</u>
        </p>
      </div>

      <div class="card-content center">
        <h2 class="card-title-alt">PLAYLISTS</h2>
        <p>Thing</p>
      </div>
    </div>
  </div>
</div>
