<div class="home">
  <banner />

  <div class="home-content">
    <div class="background-text-overlay">
      Upcoming Last week ALBUM REVIEWS This space is being used to show an
      example of contacting the backend from the frontend. This message is from
      the backend: Hi! This is the backend API speaking!
    </div>

    <div class="content-overlay">
      <div class="artist-features">
        <h2>ARTISTS</h2>
        <p>Upcoming</p>
        <p>Last week</p>
      </div>

      <div class="album-reviews">
        <h2>ALBUM REVIEWS</h2>
        <p>
          This space is being used to show an example of contacting the backend
          from the frontend. This message is from the backend:
        </p>
        <p>
          <u>{{ backendMsg }}</u>
        </p>
      </div>

      <div class="dj-playlists">
        <h2>PLAYLISTS</h2>
        <p>Thing</p>
      </div>

      <div class="dev-links">
        <h2>DEVELOPER QUICK LINKS</h2>
        <p routerLink="/dj"><u>DJ Homepage</u></p>
        <p routerLink="/admin"><u>Admin Homepage</u></p>
      </div>
    </div>
  </div>
</div>
