<div class="modular-card">
  <div class="card-content">
    <div>
      <button class="theme-button red-button" (click)="backToAdmin()">
        Back
      </button>
    </div>

    <h1 class="card-title">Manage DJs</h1>

    <div *ngIf="djList; else loading">
      <table class="theme-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>User's Name</th>
            <th>DJ Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dj of djList">
            <td>{{ dj.id }}</td>
            <td>{{ dj.userName }}</td>
            <td>{{ dj.djName }}</td>
            <td>
              <button class="theme-button green-button">Edit</button>
              <button class="theme-button red-button">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="paginator">
        <paginator
          [totalPages]="totalPages"
          [currentPage]="page"
          (changePage)="goToPage($event)"
        />
      </div>
    </div>

    <ng-template #loading>
      <div class="loading">
        <p>Loading DJs...</p>
      </div>
    </ng-template>

    <h1 class="card-title">Create New DJ</h1>

    <form
      class="theme-form"
      [formGroup]="newDJForm"
      (ngSubmit)="createDJ($event)"
    >
      <div>
        <label for="new-dj-user-id-input">User Id*: </label>
        <input
          id="new-dj-user-id-input"
          type="number"
          min="0"
          required
          formControlName="userId"
        />
      </div>

      <div>
        <label for="new-dj-name-input">DJ Name*: </label>
        <input
          id="new-dj-name-input"
          type="text"
          required
          formControlName="name"
        />
      </div>

      <div>
        <label for="new-dj-training-semester-input"
          >Training Semester Id*:
        </label>
        <input
          id="new-dj-training-semester-input"
          type="number"
          min="0"
          required
          formControlName="trainingSemesterId"
        />
      </div>

      <div>
        <label for="new-dj-trainer-input">Trainer Id: </label>
        <input
          id="new-dj-trainer-input"
          type="number"
          min="0"
          formControlName="trainerId"
        />
      </div>

      <div *ngIf="newDJErrorMessage">
        {{ newDJErrorMessage }}
      </div>

      <button type="submit" class="theme-button submit-button">
        Create DJ
      </button>
    </form>
  </div>
</div>
