<div>
  <h2>DJ List</h2>

  <div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>User's Name</th>
          <th>DJ Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dj of djList">
          <td>{{ dj.id }}</td>
          <td>{{ dj.userName }}</td>
          <td>{{ dj.djName }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br />

  <span>
    <button [disabled]="page <= 0" (click)="goToPage(page - 1)">
      Previous Page
    </button>
    <span>Page {{ page + 1 }} of {{ totalPages ?? '?' }}</span>
    <button
      [disabled]="page + 1 >= (totalPages ?? 0)"
      (click)="goToPage(page + 1)"
    >
      Next Page
    </button>
  </span>
</div>
