:host {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.shows {
  font-family: "Bree Serif", serif;
}

.schedule-header {
  border-top: 2px solid #c62828;
  border-bottom: 2px solid #c62828;
  color: #36454F;
  padding-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
