<div class="modular-card">
  <h1 class="card-title">Admin Dashboard</h1>
  <div class="card-content">
    <div class="notice-section">
      <p>
        <strong>NOTE:</strong>
        There is no authentication implemented yet; you shouldn't be allowed to
        get here unless you already logged in as an <b>admin</b>.
      </p>
    </div>

    <div class="subpages-section">
      <h2>Subpages</h2>
      <ul>
        <li><a routerLink="/admin/users">Users</a></li>
        <li><a routerLink="/admin/djs">DJs</a></li>
        <li><a routerLink="/admin/news">Town And Campus News</a></li>
      </ul>
    </div>
  </div>
</div>
