<div class="djs">
  <div class="modular-card">
    <h1 class="card-title">DISC JOCKEYS</h1>
    <div class="dj-list" *ngIf="djList">
      <div
        *ngFor="let dj of djList.slice(listStart, listStart + djsPerPage)"
        class="dj-avatar"
      >
        <div class="picture">
          <img [src]="dj.image || '../../assets/sonic.gif'" [alt]="dj.name" />
        </div>
        <div class="dj-info">
          <h3>
            <a [routerLink]="['/djs', dj.id]">{{ dj.name }}</a>
          </h3>
          <p class="dj-genres">{{ dj.genres }}</p>
        </div>
      </div>
    </div>
    <div class="pagination-controls">
      <button class="prev" (click)="previousPage()" [disabled]="!canGoPrevious">Previous</button>
      <button class="next" (click)="nextPage()" [disabled]="!canGoNext">Next</button>
    </div>
  </div>
</div>
