/* Center the card on the page */
:host {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.dj-grid {
  justify-self: center;

  display: grid;
  grid-template-columns: repeat(5, 170px);
  gap: 1rem;
  margin: 1rem 0;
}

.dj-card {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(198, 40, 40, 0.2);
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dj-card:hover {
  background-color: rgba(255, 255, 255, 0.08);
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

  .dj-image {
    transform: scale(1.05);
  }
}

.dj-image {
  object-fit: cover;
  transition: transform 0.3s ease;
}

.dj-name {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.dj-profile-link {
  color: #c62828;
  text-decoration: none;
  transition: color 0.3s ease;
}
.dj-profile-link:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #fecb33;
}

/* Left here in case we decide to include it again later */
.dj-genres {
  margin: 0;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
}

/* No DJs Message */
.no-djs {
  text-align: center;
  padding: 3rem;
  color: rgba(255, 255, 255, 0.7);
}

/* Responsive Design */
@media (max-width: 768px) {
  .dj-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
}
