<div class="modular-card">
  <div class="card-content">
    <h1 class="card-title">Disc Jockeys</h1>

    <div class="dj-grid" *ngIf="djList; else loadingDJs">
      <div class="dj-card" *ngFor="let dj of djList">
        <div class="dj-image">
          <profile-image
            [imagePath]="dj.profileImg"
            altText="{{ dj.djName }}'s profile image"
            [size]="75"
          />
        </div>

        <h3 class="dj-name">
          <a class="dj-profile-link" [routerLink]="['/djs', dj.id]">
            {{ dj.djName }}
          </a>
        </h3>
      </div>
    </div>

    <ng-template #loadingDJs>
      <div>
        <p><i>Loading DJs...</i></p>
      </div>
    </ng-template>

    <div class="paginator">
      <paginator
        [currentPage]="page"
        [totalPages]="totalPages"
        (changePage)="goToPage($event)"
      />
    </div>
  </div>
</div>
