<div>
  <on-air />
  <div class="djs modular-card">
    <h1 class="card-title">DISC JOCKEYS</h1>
    <div class="dj-list card-content center" *ngIf="djList">
      <div *ngFor="let dj of djList" class="dj-avatar">
        <div class="picture">
          <img src="../../assets/sonic.gif" alt="sample" />
        </div>
        <h3>
          <a [routerLink]="['/djs', dj.id]">{{ dj.djName }}</a>
        </h3>
      </div>
    </div>

    <span class="card-content">
      <button [disabled]="page <= 0" (click)="goToPage(page - 1)">
        Previous Page
      </button>
      <span>Page {{ page + 1 }} of {{ totalPages ?? '?' }}</span>
      <button
        [disabled]="page + 1 >= (totalPages ?? 0)"
        (click)="goToPage(page + 1)"
      >
        Next Page
      </button>
    </span>
  </div>
</div>
