<div>
  <div>
    <h2>Users List</h2>

    <div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList">
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.role }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br />

    <span>
      <button [disabled]="page <= 0" (click)="goToPage(page - 1)">
        Previous Page
      </button>
      <span>Page {{ page + 1 }} of {{ totalPages ?? '?' }}</span>
      <button
        [disabled]="page + 1 >= (totalPages ?? 0)"
        (click)="goToPage(page + 1)"
      >
        Next Page
      </button>
    </span>
  </div>

  <br />

  <div>
    <h2>Create New User</h2>

    <div>
      <div>
        <label for="new-user-name-input">Name*: </label>
        <input
          id="new-user-name-input"
          type="text"
          [formControl]="newUserName"
        />
      </div>

      <div>
        <label for="new-user-email-input">Email*: </label>
        <input
          id="new-user-email-input"
          type="text"
          [formControl]="newUserEmail"
        />
      </div>

      <div>
        <label for="new-user-password-input">Password*: </label>
        <input
          id="new-user-password-input"
          type="text"
          [formControl]="newUserPassword"
        />
      </div>

      <div>
        <label for="new-user-role-input">Role: </label>
        <input
          id="new-user-role-input"
          type="text"
          [formControl]="newUserRole"
        />
      </div>

      <div *ngIf="newUserErrorMessage">
        {{ newUserErrorMessage }}
      </div>

      <button (click)="createUser()">Create User</button>
    </div>
  </div>
</div>
