<div>
  <h2>Users List</h2>

  <div>
    <div *ngFor="let user of userList">
      <p>{{ user.name }} ({{ user.id }}) - {{ user.email }}</p>
    </div>

    <span>
      <button [disabled]="page <= 0" (click)="goToPage(page - 1)">
        Previous Page
      </button>
      <span>Page {{ page + 1 }} of {{ totalPages ?? '?' }}</span>
      <button
        [disabled]="page + 1 >= (totalPages ?? 0)"
        (click)="goToPage(page + 1)"
      >
        Next Page
      </button>
    </span>
  </div>
</div>
