@font-face {
  font-family: 'Special Elite';
  src: url('../../../assets/SpecialElite-Regular.woff2') format('woff2'),
    url('../../../assets/SpecialElite-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.webstream {
  padding: 0.5rem;
  margin-right: 1rem;
  width: 50vw;
}

@media screen and (min-width: 970px) {
  .webstream {
    width: 300px;
  }
}
