@font-face {
  font-family: 'Special Elite';
  src: url('../../../assets/SpecialElite-Regular.woff2') format('woff2'),
    url('../../../assets/SpecialElite-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.play-stop-button {
  cursor: pointer;
}

.invert-color {
  filter: invert(1);
}

@media screen and (min-width: 970px) {
  .webstream {
    width: 300px;
  }
}
