<div class="modular-card">
  <div class="card-content">
    <div class="dj-info" *ngIf="dj; else errorOccured">
      <div>
        <profile-image
          [imagePath]="dj.profileImg"
          altText="{{ dj.djName }}'s profile image"
          [size]="200"
        />

        <form
          *ngIf="isEditing"
          (submit)="updateProfileImage(profileImageInput.files?.item(0))"
        >
          <input
            type="file"
            id="new-profile-image"
            name="new-profile-image"
            accept="image"
            (change)="
              isNewProfileImageValid = profileImageInput.value.length > 0
            "
            #profileImageInput
          />
          <br />

          <input
            type="submit"
            class="submit"
            value="Change Profile Image"
            [disabled]="!isNewProfileImageValid"
          />
        </form>
      </div>

      <div class="dj-description">
        <h1 class="card-title">
          {{ dj.djName }}
        </h1>
        <i>{{ dj.profileDesc }}</i>
      </div>

      <button class="theme-button" (click)="isEditing = !isEditing">
        <img src="/assets/img/edit.svg" width="30" height="30" />
      </button>
    </div>

    <div class="dj-shows">
      <h2>FEATURED ON</h2>
      <h4>SHOW_NAME</h4>
    </div>

    <ng-template #errorOccured>
      <div>An error occured</div>
    </ng-template>
  </div>
</div>
