/* Center the card on the page */
:host {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.profile {
  width: 100%;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'left-side right-side';

  gap: 2rem;
}

.left-side {
  grid-area: left-side;
}

.right-side {
  grid-area: right-side;
}

.new-profile-image-input {
  max-width: 200px;
}

.dj-shows {
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-grow: 1;
  padding: 1rem;

  h2 {
    text-align: center;
    // font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 1rem;
  }
}
