hr {
  border: 1px solid #c62828;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.dj-info {
  display: flex;
  font-family: 'Bree Serif', serif;
  align-items: center;
  padding: 0 10rem 0 10rem;

  .dj-description {
    flex-grow: 1;
    text-align: center;

    h1 {
      color: #0f7173;
    }

    p {
      padding-top: 1rem;
    }
  }

  .dj-shows {
    background-color: #d9d9d9;
    border-radius: 1rem;
    flex-grow: 1;
    padding: 1rem;

    h2 {
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      padding-bottom: 1rem;
    }
  }
}
