@font-face {
  font-family: 'Special Elite';
  src: url('/assets/SpecialElite-Regular.woff2') format('woff2'),
    url('/assets/SpecialElite-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.webstream-popup {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;

  color: white;
  font-family: 'Special Elite', 'Bree Serif', serif;

  background-image: url('/assets/img/webstream-popup-background.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /* The following grid setup ensures that the show-info div always stays in the lower right corner of the triangle (and thus always has a full background), no matter the size of the show-info div. */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    '.               grid-show-info-and-player'
    'grid-show-image grid-show-info-and-player';

  gap: 0.5rem;
  padding: 1rem;

  /* Allow click events to pass through (popup should not block clicks) */
  pointer-events: none;
}

.show-image {
  grid-area: grid-show-image;
  align-self: end;
  justify-self: end;

  border-radius: 10px;

  /* Re-enable click events for this section */
  pointer-events: all;
}

.right-side {
  grid-area: grid-show-info-and-player;
  align-self: end;
  justify-self: end;
}

.webstream-player {
  justify-self: end;

  /* Re-enable click events for this section */
  pointer-events: all;
}

.show-info {
  /* Re-enable click events for this section */
  pointer-events: all;
}

.current-show-label {
  font-size: 0.9rem;
}

.show-name {
  font-size: 1.5rem;
}

@media screen and (min-width: 970px) {
  /* TODO: CSS for small screens */
}
