@font-face {
  font-family: 'Special Elite';
  src: url('../../../assets/SpecialElite-Regular.woff2') format('woff2'),
    url('../../../assets/SpecialElite-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.webstream-popup {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;
  // width: 280px;
  // height: 200px;

  margin: 0;
  padding: 0;

  color: white;
  font-family: 'Special Elite', 'Bree Serif', serif;

  background-color: black;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.6);

  display: flex;
  flex-grow: 1;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: flex-end;
}

.show-image {
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.right-side {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.webstream-player {
  margin-right: 1rem;
  margin-left: auto;
}

.show-info {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.current-show-label {
  font-size: 0.9rem;
}

.show-name {
  font-size: 1.5rem;
}

@media screen and (min-width: 970px) {
  /* TODO: CSS for small screens */
}
