<div class="news-form">
  <h1>Submit Your Event</h1>
  <ul>
    <li>
      We cannot announce any explicit prices due to FCC regulations. However,
      please specify if the event is free or if there is a cost associated with
      anything.
    </li>
    <li>Please keep your submission as short as possible.</li>
    <li>
      Announcements will not be approved until they are within two weeks of
      their stop date.
    </li>
    <li>
      Some announcements may be edited for content or length before approval.
    </li>
    <li>
      If you would like to remove or edit your message after it has been
      approved, call KMNR at 573-341-4272 or send an email to news@kmnr.org and
      we will remove it as soon as possible. We will verify your request by
      emailing the person who submitted the announcement.
    </li>
  </ul>

  <hr />
  <h2>Event Information</h2>

  <form>
    <label for="title">Title</label><span class="req">*</span>
    <input type="text" id="title" name="title" required [formControl]="title" />
    <br />

    <label for="location">Location</label><span class="req">*</span>
    <input
      type="text"
      id="location"
      name="location"
      required
      [formControl]="location"
    />
    <br />

    <label for="contact">Contact Name</label><span class="req">*</span>
    <input
      type="text"
      id="contact"
      name="contact"
      required
      [formControl]="contactName"
    />
    <br />

    <label for="contact_email">Contact Email</label><span class="req">*</span>
    <input
      type="text"
      id="contact_email"
      name="contact_email"
      required
      [formControl]="contactEmail"
    />
    <br />

    <label class="non-req" for="organization">Organization</label>
    <input
      type="text"
      id="organization"
      name="organization"
      [formControl]="organization"
    />
    <br />

    <label class="non-req" for="website">Website</label>
    <input type="text" id="website" name="website" [formControl]="website" />
    <br />

    <label for="expires">Expires</label><span class="req">*</span>
    <input
      type="date"
      id="expires"
      name="expires"
      [formControl]="expirationDate"
    />
    <br />

    <label for="description">Description</label><span class="req">*</span>
    <textarea
      id="description"
      name="description"
      [formControl]="description"
    ></textarea>
    <br />

    <div *ngIf="errorMessage">{{ errorMessage }}</div>
    <div *ngIf="newEntryId">
      News entry creation successful! New entry id is {{ newEntryId }}.
    </div>

    <input
      class="submit"
      value="Submit Your Event"
      (click)="createNewEntry()"
    />
  </form>
</div>
