:host {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

p {
  padding: 0.5rem 0 0.5rem 0;
  line-height: 1.6;
  color: rgba(51, 51, 51, 0.9);
}

.byline {
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(198, 40, 40, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-weight: bold;
  color: #c62828;
}
