/* You can add global styles to this file, and also import other style files */

/* SpecialElite Font Declaration */
@font-face {
  font-family: 'SpecialElite';
  src: url('./assets/fonts/SpecialElite-Regular.woff2') format('woff2'),
       url('./assets/fonts/SpecialElite-Regular.woff') format('woff'),
       url('./assets/fonts/SpecialElite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Removes weird padding between html/body and AppComponent
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}
