h1 {
  font-family: "Bree Serif", serif;
  border-top: 2px solid #c62828;
  border-bottom: 2px solid #c62828;
  padding-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

button {
  font-family: "Bree Serif", serif;
  font-size: 1.5rem;
  color: white;
  background-color: #0f7173;
  margin: 1rem 0 1rem 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  border-radius: 0.5em;
}

h2 {
  font-family: "Bree Serif", serif;
  color: #0f7173;
}

.news {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}

.news-item {
  margin: 1rem 0 1rem 0;
}

p {
  font-family: "Bree Serif", serif;
}

hr {
  border: 1px solid #6d597a;
}

a {
  color: white;
  text-decoration: none;
}
