.blog {
  font-family: "Bree Serif", serif;
}

.top-header {
  font-family: "Bree Serif", serif;
  padding-left: 2rem;
  border-top: 2px solid #c62828;
  border-bottom: 2px solid #c62828;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  color: #0f7173;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.byline {
  font-family: "Breee Serif", serif;
  font-weight: bold;
  padding-left: 2rem;
  border-top: 2px solid #c62828;
  border-bottom: 2px solid #c62828;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
