<div class="blog">
  <h1 class="top-header">KMNR Blog</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro modi quod eos
    impedit odio sit, iste rem vero in! Autem quis tempore nam suscipit
    laboriosam porro, magnam temporibus dolore doloremque.
  </p>
  <h2>Entries</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae at,
    voluptatibus reprehenderit pariatur vero deleniti aliquid delectus id quo
    vitae inventore asperiores beatae! Quam eius autem dignissimos, sit sapiente
    dolorem.
  </p>
  <p class="byline">
    <span class="date">March 1, 2023</span>
  </p>
</div>
