/* You can add global styles to this file, and also import other style files */

// Removes weird padding between html/body and AppComponent
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}
