<div class="header-container">
  <div class="bar-grid">
    <div class="current-show">
      <button class="snapman-home-btn" routerLink="/" title="Go to Home Page">
        <img
          class="snapman-header"
          src="../../../assets/newsnapman.svg"
          alt="snapman"
          height="100rem"
          width="100rem"
        />
      </button>
      <audio class="webstream" controls>
        <source src="https://boombox.kmnr.org/webstream.mp3" />
        Your browser does not support the audio element.
      </audio>
      <div class="show-info">
        <strong class="listen">Listen in</strong>
        <p>SHOW DJ</p>
      </div>
    </div>
    <div class="header-right">
      <p class="contact-info">Requests? Comments? Call or text 504-656-6735</p>
      <div class="menu-icon">
      </div>
    </div>
  </div>

  <!-- Navigation Section -->
  <div class="nav-container">
    <nav class="invisible-navigation">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link kmnr-link">1</a>
      <a routerLink="/shows" routerLinkActive="active" class="nav-link shows-link">2</a>
      <a routerLink="/djs" routerLinkActive="active" class="nav-link djs-link">3</a>
      <a routerLink="/news" routerLinkActive="active" class="nav-link news-link">4</a>
      <a routerLink="/about" routerLinkActive="active" class="nav-link about-link">5</a>
      <a routerLink="/blog" routerLinkActive="active" class="nav-link blog-link">6</a>
      <a routerLink="/spotify" routerLinkActive="active" class="nav-link spotify-link">7</a>
      <a routerLink="/login" routerLinkActive="active" class="nav-link login-link">8</a>
      <a routerLink="/admin" routerLinkActive="active" class="nav-link admin-link">9</a>
    </nav>
  </div>
</div>
