@font-face {
  font-family: 'Special Elite';
  src: url('/assets/SpecialElite-Regular.woff2') format('woff2'),
    url('/assets/SpecialElite-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.nav-container {
  position: sticky;
  top: 0;
  z-index: 3;

  background-image: url('../../../assets/img/top-bar-flattened.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 1.75vmax;
  padding-bottom: 3.25vmax;

  display: flex;
  justify-content: center;
}

.invisible-navigation {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}

.nav-link {
  position: relative;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Special Elite', 'Bree Serif', serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 2.35vmax;
  width: max-content;
  margin: 0 0.6rem; // 0 top/bottom, 0.6 left/right
  opacity: 1;
}

.nav-link:hover,
.nav-link.active {
  opacity: 0.8;
  font-weight: bolder;
}

@media screen and (min-width: 970px) {
  /* TODO: Handle small screens */
}
